.remove-url {
	font-size: 0.8em;
	margin-left: 1em;
	padding: 0 6px 2px;
}

#new-url {
	width: 80%;
}

#targets {
	padding-left: 10px;
}

#targets li {
	list-style: none;
	margin-bottom: 0.2em;
}

#reset {
	font-size: 0.8em;
}

button, input[type="button"], input[type="submit"] {
	cursor: pointer;
}

h2 {
	font-weight: bold;
}

section {
	margin-bottom: 4em;
}

html, body {
	height: 400px;
}